
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<div class="demo-container">
    <div id="gridСustomersContainer"></div>
</div>

<div class="demo-container">
    <div id="gridOrdersContainer"></div>
</div>